  /* Estilos para el botón de mostrar formulario */
  #mostrarFormulario {
    padding: 5px 15px;
    font-size: 14px;
    width: auto;
    display: inline-block;
}

/* Estilos para la tabla de solicitudes */
.table th, .table td {
    text-align: center;
    width: 25%; /* Asegurar que todas las columnas tengan el mismo tamaño */
}
.table th:first-child,
.table td:first-child {
    width: 1%;
    white-space: nowrap;
    text-align: center;
}

/* Estilos para el formulario de solicitud */
#formularioSolicitud {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #f8f9fa;
}

/* Estilo para el formulario */
#formularioSolicitud {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #f8f9fa;
}

/* Estilos para el botón de enviar */
#formularioSolicitud button {
    margin-top: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}

#formularioSolicitud button:hover {
    background-color: #218838;
}
